<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dawnwin.stick.mapper.StickDeviceMapper">
    <select id="getDeviceByImei" parameterType="string" resultType="com.dawnwin.stick.model.StickDevice">
        SELECT
            a.id AS deviceId,
            a.device_imei AS deviceImei,
            a.bind_phone AS bindPhone,
            a.avaster,
            a.nickname AS nickName,
            a.add_time AS addTime,
            a.sex,
            a.weight,
            a.height,
            a.age,
            a.city,
            a.sos_list AS sosList
        FROM
            stk_device a
        WHERE a.device_imei = #{imei}
    </select>

    <update id="updateById" parameterType="com.dawnwin.stick.model.StickDevice">
      UPDATE stk_device a
        SET
        <if test="age != null">
            a.age = #{age},
        </if>
        <if test="avaster != null">
            a.avaster = #{avaster},
        </if>
        <if test="bindPhone != null">
            a.bind_phone = #{bindPhone},
        </if>
        <if test="city != null">
            a.city = #{city},
        </if>
        <if test="height != null">
            a.height = #{height},
        </if>
        <if test="nickName != null">
            a.nickname = #{nickName},
        </if>
        <if test="sex != null">
            a.sex = #{sex},
        </if>
        <if test="weight != null">
            a.weight = #{weight},
        </if>
        <if test="sosList != null">
            a.sos_list = #{sosList},
        </if>
        a.id = #{deviceId}
        WHERE 1=1 and id = #{deviceId}
    </update>
</mapper>